.client-tbl {
    background: whitesmoke;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

td {
    border-top: 1px solid grey;
    margin: 0;
}

.client-data {
    text-align: left;
    max-width: 500px;
    background: whitesmoke;
    margin: 20px;
    padding: 5px;
    border: 2px solid black;
}

.right {
    text-align: right;
}
.remove {
    font-size: 1.5em;
    text-decoration: none;
}

.pet-form {
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
    background: rgb(215, 230, 235);
    width: 100%;
    text-align: center;
    border-top: 2px solid grey;
}

.no-line {
    text-decoration: none;
}

.client-form > input[type="submit"] {
    background: rgb(88, 35, 81);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 500px) {
    td {
        font-size: 10px;
    }
    th {
        font-size: 10px;
    }
}