.client-tbl {
    background: whitesmoke;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

td {
    border-top: 1px solid grey;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    td {
        font-size: 10px;
    }
    th {
        font-size: 10px;
    }
}