.error, .red {
  color: red;
}

.App {
  background-color: thistle;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}

.logout {
  font-size: 1em;
}

.pointer-cursor {
  cursor: pointer;
}