.error, .red {
  color: red;
}

.App {
  background-color: thistle;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pointer-cursor {
  cursor: pointer;
}

.right {
  text-align: right;
}

.hidden {
  visibility: hidden;
}

.center {
  text-align: center;
}